/* 
MAIN HEADER 
*/
.main_header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.main_header_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 20px 70px;
}

/* LOGO */
.nav_logo{
    flex-basis: 30%;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    background: aqua;
}
.logo img{
    width: 100%;
}

/* NAV */

.nav{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: end;
}
.nav_menu{
    display: flex;
    align-items: center;
}
.nav_menu li{
    margin: 10px;
    font-size: 1.2em;
}
.nav_menu li a{
    color: #000;
}
.btn{
    background: #bf1313;
    padding: 7px 20px;
    border-radius: 4px;
}
.nav_menu .btn a{
    color: #fff;
    font-weight: 800;
}

/* SUBNAV */

.subnav{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    border-top: solid 1px silver;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
}
.subnav_menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.subnav_menu li{
    padding: 0 30px;
    border-right: solid 1px #000 ;
}
.subnav_menu li:last-child{
    border: none;
}
.subnav_menu li a{
    color: #000;
    font-size: 1em;
}

/* NEWS */

.news_article{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 80px;
}
.news_article_header{
    display: flex;
    flex-wrap: wrap;
}
.news_article_link_content{
    color: #bf1313;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: solid 3px #bf1313;
    padding-bottom: 2px;
}
.news_article_header_title{
    font-size: 3.5em;
    font-weight: bold;
    color: #252627;
    margin: 10px 0;
}
.news_article_header_subtitle{
    font-size: 1.7em;
    color: #a9a9a9;
    margin-bottom: 20px;
    flex-basis: 100%;
}
.news_article_header_author{
    display: flex;
    flex-wrap: wrap;
}
.news_article_header_author_img{
    width: 37px;
    border-radius: 50%;
}

.news_article_header_author_info{
    color:  #bf1313;
    margin: 10px 5px;
    justify-content: center;
}
.news_article_header_author_info a{
    color:  #bf1313;
    text-decoration: underline;
}
.news_article_header_update{
    color:  #bf1313;
    margin: 10px 55px;
}
.news_article_header_create{
    color: #a9a9a9;
    margin: 10px 50px;
}

/* TEXT */

.news_article_content_f::first-letter{
    font-size: 4em;
    color: #bf1313;
}
.news_article_content_f{
    font-size: 1.2em;
    text-align: justify;
    margin: 10px 0;
}
.news_article_content{
    font-size: 1.2em;
    text-align: justify;
    margin: 10px 0;
}